<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./css/main.css" />
	<script src="./js/script.js"></script>
	<title><%=titulo%></title>
</head>

<body>
	<header class="bg-yellow-50 flex flex-col items-center justify-center space-y-2 min-h-[16rem]">
		<img src="./img/header.jpg" alt="Logo pagina entrada" class="h-32 w-32">
		<h1 class="heading-1">Sistemas Microinformatica</h1>
		<h1 class="heading-2">Recursos Humanos</h1>
	</header>
	<nav class="navbar navbar__dark">
		<div class="navbar__content">
			<h1 class="heading-1">RH</h1>
			<button id="navbarBoton" class="navbar__toggler">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<line x1="4" y1="6" x2="20" y2="6" />
					<line x1="4" y1="12" x2="20" y2="12" />
					<line x1="4" y1="18" x2="20" y2="18" />
				</svg>
			</button>
		</div>
		<div class="navbar__nav hidden md:flex" id="navbarContenido">
			<a class="nav__item <% if(titulo === "Pagina de entrada") { %> active <% } %>" href="/">Formulario</a>
			<a class="nav__item" href="/">Nosotros</a>
			<a class="nav__item" href="/">Contrataciones</a>
			<a class="nav__item" href="/">Contactos</a>
		</div>
	</nav>